<div class="container">
  <h1 class="text-success">Life Cover - Quote</h1>
  <hr>
  <app-quote *ngIf="occupations.length > 0" 
    [occupations]="occupations"
    (quote)="onGetQuote($event)"></app-quote>
    
  <hr>

    <div *ngIf="premium > 0">
      <p class="text-info"> <strong>Your preimium: ${{premium}}</strong> </p> 
    </div>
    <div *ngIf="errors.length > 0" class="text-danger">
      <strong>Error occurred</strong>
      <ul>
        <li *ngFor="let e of errors">{{e}}</li>
      </ul>
    </div>
</div>